@font-face
{
  font-family:'DancingScript';
  src: url('../Fuentes/DancingScript.otf');
}
@keyframes slidein
{
  0%
  {
    margin-top: 150%;
  }
  60%
  {
    margin-top: -5%;
  }
  100%
  {
    margin-top: 0%;
  }

}


body
{
  background-color: #02010a;
  font-family: 'DancingScript';
}

@media screen
{
  #Contenido
  {
    width: 900px;
    margin: 0 auto;
    animation-name: slidein;
    animation-duration: 1s;

  }
  #Banner
  {
    background-color: #5b7989;
    border-radius: 10px 10px 0px 0px;
    display: flex;
    flex-direction: row;
  }
  #Banner h1
  {
    font-size: 2em;
    text-align: center;
    color: white;
    text-shadow: 2px 2px #02010a;
    margin-left: 1%;
    float: left;
  }
  #Banner nav
  {
    height: 100px;
    font-size: 1.55em;
    color: white;
    margin-left: 200px;
    float: right;
  }
  #Banner nav ul
  {
    padding: 0 ;
  }
  #Banner nav ul li
  {
    list-style-type: none;
    display: inline;
    margin: 10px;
  }
  #Banner nav li a
  {
    text-decoration: none;
    color: white;
  }

  #ImagenCentral
  {
    background-color: #82c3a6;
  }
  .ImagenCentral
  {
    width: 90%;
    margin: 2% 0% 1% 5%;
    border: 1px solid;
    box-shadow: 2px 2px #02010a;

  }


  #ImagenSecundaria
  {
    background-color: #d5c75f ;
    display: flex;
    flex-direction: row;
  }
  #ImagenSecundaria div
  {
    width: 50%;
  }
  .ImagenHiper img
  {
    width: 85%;
    margin: 7.5%;
  }
  #Paisaje
  {
    box-shadow: 2px 2px #02010a;
    transition: box 1s;
    transition: transform 1s;
  }
  #Paisaje:hover
  {
    box-shadow: 2px 2px #82c3a6 ;
    transform: rotate(10deg);
  }
  #Galeria1
  {
    background-color: #d5c75f ;
    display: flex;
    flex-direction: row;
  }
  #Galeria1 div
  {
    width: 33.3%;
  }
  #Galeria1 div img
  {
    width: 80%;
    margin: 3% 9%;
  }
  #Galeria2
  {
    background-color: #d5c75f ;
    display: flex;
    flex-direction: row;
  }
  #Galeria2 div
  {
    width: 33.3%;
  }
  #Galeria2 div img
  {
    width: 80%;
    margin: 3% 9%;
  }
  .blur
  {
    filter: blur(10px);
  }
  .grayscale
  {
    filter: grayscale(100%);
  }
  .sepia
  {
    filter: sepia(60%);
  }

  #Retratos
  {
    width: 80% !important;
    box-shadow: 2px 2px #02010a;
    transition: box 1s;
    transition: transform 1s;

  }
  #Retratos:hover
  {
    box-shadow: 2px 2px #82c3a6 ;
    transform: translate(20px, -5px);

  }


  .Hiper
  {
    color: black;
    margin: 0 41%;
    font-size: 1.55em;
  }
  footer
  {
    border-radius: 0px 0px 10px 10px ;
    background-color: #C6d5c5;
    display: flex;
    flex-direction: row;
  }
  footer div
  {
    padding-left: 40px;
    width: 25%;
  }
  footer div h1
  {
    text-align: left;
  }
  footer div p
  {
    font-size: 1.2em;
    text-align: left;

  }
}
@media (max-width:900px)
{
  #Contenido
  {
    width: 100%;
    height: 1000px;
    margin: 0 auto;
  }
  #Banner
  {
    height: 200px;
    background-color: #5b7989;
    border-radius: 10px 10px 0px 0px;
    display: flex;
    flex-direction: column;
  }
  #Banner h1
  {
    font-size: 2em;
    text-align: center;
    color: white;
    text-shadow: 2px 2px #02010a;
    margin-left: 1%;
    float: left;
  }
  #Banner nav
  {
    font-size: 1.55em;
    color: white;
    margin: 0 auto;
  }
  #Banner nav li
  {
    list-style-type: none;
    display: inline;
  }

  #ImagenCentral
  {
    background-color: #82c3a6;
  }
  .ImagenCentral
  {
    width: 90%;
    margin-left: 5%;
    margin-top: 2%;
    margin-bottom: 1%;
  }

  #ImagenSecundaria
  {
    background-color: #d5c75f ;
    display: flex;
    flex-direction: column;
  }
  #ImagenSecundaria div
  {
    width: 100%;
  }
  #Galeria1
  {
    background-color: #d5c75f ;
    display: flex;
    flex-direction: column;
  }
  #Galeria1 div
  {
    width: 100%;
  }
  #Galeria1 div img
  {
    width: 80%;
    margin: 3% 9%;
  }
  #Galeria2
  {
    background-color: #d5c75f ;
    display: flex;
    flex-direction: row;
  }
  #Galeria2 div
  {
    width: 33.3%;
  }
  #Galeria2 div img
  {
    width: 80%;
    margin: 3% 9%;
  }

  footer
  {
    border-radius: 0px 0px 10px 10px ;
    background-color: #C6d5c5;
    display: flex;
    flex-direction: column;
  }
  footer div
  {
    width: 100%;
  }

}
